
NEXT_PUBLIC_API_HOST=http://localhost:3333/api
NEXT_PUBLIC_BASE_URL=http://localhost:3333
NEXT_PUBLIC_AI_API_HOST=http://localhost:3333/api
NEXT_PUBLIC_HOST=https://amplify.com
NEXT_PUBLIC_API_INTEGRATION_HOST=http://localhost:3334
NEXT_PUBLIC_API_WALLET_HOST=http://localhost:3335


NEXT_PUBLIC_FIREBASE_CLIENT_ID=fir-frontend-b3d9d
NEXT_PUBLIC_FIREBASE_API_KEY=azaman
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=domain
NEXT_PUBLIC_FIREBASE_PROJECT_ID=id
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=friday
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=sender
NEXT_PUBLIC_FIREBASE_APP_ID=1app1
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=Gold


NEXT_PUBLIC_STARTER_PLAN_PRICE=35
NEXT_PUBLIC_GROW_PLAN_PRICE=99
NEXT_PUBLIC_SCALE_PLAN_PRICE=199

NEXT_PUBLIC_BILLING_CYCLE_MONTHLY_DISCOUNT=0
NEXT_PUBLIC_BILLING_CYCLE_QUARTERLY_DISCOUNT=5
NEXT_PUBLIC_BILLING_CYCLE_YEARLY_DISCOUNT=15

NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test
NEXT_PUBLIC_STRIPE_KEY=pk_test_51RDtu
NEXT_PUBLIC_SHOPIFY_API_KEY=123


NEXT_PUBLIC_MOCK_IMAGE_ASSET=698b3c4def33b692ec402c53 # dev only
NEXT_PUBLIC_MOCK_VIDEO_ASSET=698f4ae4623802f3cc2c01e4 # dev only

NEXT_PUBLIC_STARTER_PLAN_PRICE=50
NEXT_PUBLIC_GROW_PLAN_PRICE=100
NEXT_PUBLIC_SCALE_PLAN_PRICE=200

NEXT_PUBLIC_STARTER_PLAN_MONTHLY_PRICE_ID=price_1RJOIF4K0EUJXpsuXoWVsLvI
NEXT_PUBLIC_STARTER_PLAN_QUARTERLY_PRICE_ID=price_1TFX9R4K0EUJXpsu2x0upRS2
NEXT_PUBLIC_STARTER_PLAN_YEARLY_PRICE_ID=price_1TFXB54K0EUJXpsu2E55z8T1

NEXT_PUBLIC_GROW_PLAN_MONTHLY_PRICE_ID=price_1TFXGS4K0EUJXpsuk6XJjzaz
NEXT_PUBLIC_GROW_PLAN_QUARTERLY_PRICE_ID=price_1TFXH84K0EUJXpsuarrTDeJE
NEXT_PUBLIC_GROW_PLAN_YEARLY_PRICE_ID=price_1TFXI84K0EUJXpsuNdEO7DMz

NEXT_PUBLIC_SCALE_PLAN_MONTHLY_PRICE_ID=price_1RJOWj4K0EUJXpsuQ3rqPxEU
NEXT_PUBLIC_SCALE_PLAN_QUARTERLY_PRICE_ID=price_1TFXLR4K0EUJXpsurdevp3n5
NEXT_PUBLIC_SCALE_PLAN_YEARLY_PRICE_ID=price_1TFXMA4K0EUJXpsuUb5jMB2f

