@import "tailwindcss";

@font-face {
  font-family: "Satoshi-Variable";
  src: url("/fonts/satoshi/Satoshi-Variable.woff2") format("woff2"),
    url("/fonts/satoshi/Satoshi-Variable.woff") format("woff");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-VariableItalic";
  src: url("/fonts/satoshi/Satoshi-VariableItalic.woff2") format("woff2"),
    url("/fonts/satoshi/Satoshi-VariableItalic.woff") format("woff");

  font-weight: 300 900;
  font-display: swap;
  font-style: italic;
}

:root {
  --grey: #f3eff6;
  --light: #ffffff;
  --violet-normal: #1d0b30;
}

@theme {
  --color-background: var(--light);
  --color-background-2: var(--grey);
  --color-heading: var(--violet-normal);
}

body {
  background: var(--background);
  font-family: "Satoshi-Variable", Arial, Helvetica, sans-serif;
}

.gradient {
  background: linear-gradient(45deg, #a755ff, #6800d7);
}

@keyframes gradientAnimation {
  0% {
    background: linear-gradient(45deg, #a755ff, #6800d7);
  }
  25% {
    background: linear-gradient(90deg, #a755ff, #6800d7);
  }
  50% {
    background: linear-gradient(135deg, #a755ff, #6800d7);
  }
  75% {
    background: linear-gradient(180deg, #a755ff, #6800d7);
  }
  100% {
    background: linear-gradient(45deg, #a755ff, #6800d7);
  }
}

.gradient-anime {
  background: linear-gradient(45deg, #a755ff, #6800d7);
  background-size: 400% 400%;
  animation: gradientAnimation 6s ease infinite;
}
