/* @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"); */
@import url("https://fonts.cdnfonts.com/css/satoshi");
@import "tailwindcss";

:root {
  --grey: #f3eff6;
  --light: #ffffff;
  --violet-normal: #1d0b30;
}

.sticky-m {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: 0;
  align-self: flex-start; /* <-- this is the fix */
}

@theme {
  --color-background: var(--light);
  --color-background-2: var(--grey);
  --color-heading: var(--violet-normal);
  --spacing-navbar-height: 56px;
  --spacing-base-padding: 1.25rem;
  --container-base-container: 1512px;
  --color-leading: #595959;
  --color-input-border: #c2bfc5;
  --leading-base-leading: 120%;
  --tracking-heading: -0.84px;
  --tracking-100: -0.24px;
  --tracking-150: -0.28px;
  --tracking-200: -0.32px;
  --tracking-250: -0.36px;
  --color-gray-light: #bfbfbf;
  --color-gray-dark: #737373;
  --color-purple-dark: #1d0b30;
  --color-purple-normal: #6800d7;
  --breakpoint-xs: 412px;
}

/* * {
  font-family: "Inter", sans-serif;
} */

* {
  font-family: "Satoshi", sans-serif;
}

/* .select-option {
  font-family: "Trebuchet MS", sans-serif;
} */

body {
  background: var(--background);
  /* font-family: "Inter", sans-serif; */
  font-family: "Satoshi", sans-serif;
  letter-spacing: -0.28px;
}

svg.button-loader {
  width: 18px;
  transform-origin: center;
  animation: rotate4 2s linear infinite;
}

svg.button-loader circle {
  fill: none;
  /* stroke: #a755ff; */
  stroke-width: 8;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash4 {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -125px;
  }
}

.text-gradient {
  background: var(
    --Gradient,
    linear-gradient(135deg, #a755ff 19.35%, #6800d7 97.65%)
  );
  background-clip: text;
  -webkit-background-clip: text; /* Required for Safari */
  -webkit-text-fill-color: transparent; /* Makes text show background instead of solid color */
}
button:not(:disabled):hover {
  cursor: pointer;
}

button.gradient {
  position: relative;
  overflow: hidden;
  color: white;
  border: none;
  padding: 1rem 2rem;
  background: linear-gradient(135deg, #a755ff 19.35%, #6800d7 97.65%);
}

.bg-gradient {
  background: linear-gradient(135deg, #a755ff 19.35%, #6800d7 97.65%);
}

button.gradient::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(135deg, #5e00c2 19.35%, #5e00c2 97.65%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 0;
}

button.gradient:hover::after {
  opacity: 1;
}

button.gradient > * {
  position: relative;
  z-index: 1;
}

button.secondary {
  background-color: #fbfafc;
  transition: all 0.3s ease-in-out;
}

button.secondary:not(:disabled):hover {
  background-color: #f3eff6;
}
/* button.secondary:active {
  background-color: #fbfafc;
} */

@keyframes gradientAnimation {
  0% {
    background: linear-gradient(45deg, #a755ff, #6800d7);
  }
  25% {
    background: linear-gradient(90deg, #a755ff, #6800d7);
  }
  50% {
    background: linear-gradient(135deg, #a755ff, #6800d7);
  }
  75% {
    background: linear-gradient(180deg, #a755ff, #6800d7);
  }
  100% {
    background: linear-gradient(45deg, #a755ff, #6800d7);
  }
}

.gradient-anime {
  background: linear-gradient(45deg, #a755ff, #6800d7);
  background-size: 400% 400%;
  animation: gradientAnimation 6s ease infinite;
}
